# Copie este arquivo para .env e preencha os valores reais
# cp .env.example .env

SAP_URL=https://SEU-SISTEMA.abap.us10.hana.ondemand.com
SAP_WEB_URL=https://SEU-SISTEMA.abap-web.us10.hana.ondemand.com
SAP_SYSTEM_ID=TRL
SAP_CLIENT=100

SAP_UAA_URL=https://SEU-TENANT.authentication.us10.hana.ondemand.com
SAP_CLIENT_ID=sb-...
SAP_CLIENT_SECRET=...

SAP_TENANT_ID=...
SAP_IDENTITY_ZONE=...
SAP_CATALOG_PATH=/sap/opu/odata/IWFND/CATALOGSERVICE;v=2
SAP_STOCK_ODATA_PATH=/sap/opu/odata4/sap/zpoc_stock_vision/srvd/sap/zpoc_stock_vision/0001/StockVision

# mock = sem SAP real | real = OAuth + OData
SAP_MODE=mock

# Flask / demo
HOST=0.0.0.0
PORT=5001
FLASK_DEBUG=0
WAREHOUSE_DEFAULT=ALMOX-01
SAP_API=http://localhost:5001/api/sap/mm/stock/update
